<style>
    ul.sidebar-menu > li {
        background-color: transparent;
        border-radius: 2px;
        transition: ease-in-out 0.3s;
    }
    ul.sidebar-menu > li:hover {
        background-color: #F5F8FA;
        transition: ease-in-out 0.3s;
    }
</style>
<aside class="main-sidebar">
    <div>
        <section class="sidebar p-t-b-40" style="height: auto;">
            <ul class="sidebar-menu scroll">
                <li>
                    <a href="/dashboard/account">
                        <i class="icon icon-user-o"></i> <span>My Account</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/orders">
                        <i class="icon icon-cube"></i> <span>My Orders</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/wishlist">
                        <i class="icon icon-heart"></i> <span>My Wishlist</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/settings">
                        <i class="icon icon-cog"></i> <span>Settings</span>
                    </a>
                </li>
            </ul>
        </section>
    </div>
    <!-- /.sidebar -->
</aside>